<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${#request.getAttribute('loginFailMsg')}"></span>
<span sec:authentication="principal.username"></span> 님 반갑습니다.
<div sec:authentication="principal.authorities"></div>
</body>
</html>