<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5666805, 126.9784147),
        zoom: 9
    });

    var jeju = new naver.maps.LatLng(33.3590628, 126.534361),
        busan = new naver.maps.LatLng(35.1797865, 129.0750194),
        dokdo = new naver.maps.LatLngBounds(
            new naver.maps.LatLng(37.2380651, 131.8562652),
            new naver.maps.LatLng(37.2444436, 131.8786475)),
        seoul = new naver.maps.LatLngBounds(
            new naver.maps.LatLng(37.42829747263545, 126.76620435615891),
            new naver.maps.LatLng(37.7010174173061, 127.18379493229875));

    $("#to-jeju").on("click", function(e) {
        e.preventDefault();

        map.setCenter(jeju);
    });

    $("#to-1").on("click", function(e) {
        e.preventDefault();

        map.setZoom(6, true);
    });

    $("#to-dokdo").on("click", function(e) {
        e.preventDefault();

        map.fitBounds(dokdo);
    });

    $("#to-busan").on("click", function(e) {
        e.preventDefault();

        map.panTo(busan);
    });

    $("#to-seoul").on("click", function(e) {
        e.preventDefault();

        map.panToBounds(seoul);
    });

    $("#panBy").on("click", function(e) {
        e.preventDefault();

        map.panBy(new naver.maps.Point(10, 10));
    });
</script>
<body>
</body>
</html>